.whatisContainer {
  max-width: 75vw;
  height: max-content;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 1rem 3rem;

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.whatisGpt3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 0.25em;
}
.first,
.spanandtext p {
  cursor: pointer;
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5em;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.second {
  margin-top: 1.5rem;
  width: fit-content;
  height: fit-content;
}

.second p,
.secondtxt p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #81afdd;
}

.coloredSpan,
.spanandtext span {
  display: block;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  width: 38px;
  height: 3px;
}

.poss-isbeyond {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.poss-isbeyond p {
  padding: 0.24em;
}

.theposTxt {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 40px;
  background-image: var(--gradient-text);
  background-clip: text;
  color: transparent;
  width: 70%;
}

.poss-isbeyond a {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ff8a71;
}
.flexshit {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .whatisContainer {
    gap: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1448px) {
  .poss-isbeyond p {
    padding: 0;
  }
  .poss-isbeyond__p {
    display: flex;
    justify-content: center;
  }
  .poss-isbeyond {
    height: 300px;
  }
  .whatisContainer {
  }
}
