* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

.bg__background {
  background: -moz-radial-gradient(
    circle at 0% 0%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 51%,
    rgba(0, 40, 83, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 0% 0%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 51%,
    rgba(0, 40, 83, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 0% 0%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 51%,
    rgba(0, 40, 83, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 0% 0%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 51%,
    rgba(0, 40, 83, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 0% 0%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 51%,
    rgba(0, 40, 83, 1) 100%
  );
}
a {
  text-decoration: none;
  color: unset;
}
.bg__text {
  background: var(--gradient-text);
  background-clip: text;
}
