.featues {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.secondtxt {
  margin-top: 1.5rem;
  width: 334px;
  height: 92px;
}
@media only screen and (max-width: 768px) {
  .featues {
    padding: 1rem 2rem;
  }
}
